*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Lato", sans-serif;
}

/* Utility */
.d_flex{
  display: flex;
}

.btn{
  border: none;
  cursor: pointer;
  font-size: 0.5rem;
  padding: 0 5px;
  color: white;
}


.btn:hover{
  opacity: 0.7;
}

/* .debug{
  border: 2px solid red;
} */

/* Header */
header{
  height: 70px;
  background-color: black;
}

header div{
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

header div .btn{
  font-size: .8vw;
  background-color: #4a4a4a;
  margin: 0 5px;
  padding: 7px 5px;
  border-radius: 8px;
}


/* Main */

main{
  height: calc(100vh - 150px);
  background-color: black;
  color: white;
  overflow: auto;
  
}

main .container{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 20px;
}

.container .row{
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .row .column{
  margin-bottom: 15px;
  padding:0 5px;
}

.column .card{
  width: 100%;
  position: relative;
}

img{
  width: 100%;
}

.column .card .text{
  font-size: .6vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 8px 5px;
  position: absolute;
  left: 0;
  bottom: 4px;
}


/* Footer */

footer{
  height: 80px;
  background-color: #222222;
  color: white;
  justify-content: space-between;
  align-items: center;
}


footer .tools_left,
footer .foot_right,
footer .tools_center{
  height: 100%;
}

.tools .icon{
  text-align: center;
  height: 80%;
  padding: 20px 10px;
}
.tools .icon:hover,
.tools_center .active{
  color: #4ac20a;
}
.tools .icon i{
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.tools .icon_text{
  font-size: 0.5rem;
}

.tools .arrow_up{
  padding-top: 25px;
}

footer .tools_center{
  justify-content: center;
}


.foot_right{
  justify-content: flex-end;
}

.foot_right .btn.btn_footer{
  background-color: #4a4a4a;
  color: red;
  padding: 0 10px;
  text-align: center;
  font-size: 0.7vw;
}
